<!--
  Generated template for the ResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar color="primary">
        <ion-title>
            <img class="logo" src="./assets/imgs/88logow.png">
           
          </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

    <div  class="flex-container">
        <div class="gy_block">
  
          </div>
          <div class="record_bar">
              查找客人隱形眼鏡驗光紀錄          </div>
    
              <div class="gy_block">
    
              </div>
    </div>


    <ion-row>
        <ion-col class="center_words" >
  
            <img class="noresult_img" src="./assets/imgs/image003.png">

  
        </ion-col>
   
    
  
    </ion-row>
 



    <ion-row>
        <ion-col class="center_words" >
            對不起!此電話號碼並沒有任何隱形眼鏡購買記錄或兩年內有效之驗眼記錄, 請你返回首頁重新輸入或到自動販賣機選購
            $300隱形眼鏡現金券鎖定推廣優惠到門市購買
  
          </ion-col>
      </ion-row>
      <ion-row>
       
          <ion-col class="button_col">
           
    
              <button color="primary" ion-button (click)="home()">返回首頁</button>
        </ion-col>
      
    
      </ion-row>
</ion-content>
