page-noresult {
    .record_bar{
        font-size: 20px;
        text-align: center;
    }
    .gy_block{
        width:50px;
        background-color: gray;
        height: 10px;
        margin-top: 7px;
        display:inline;
    }
    .left_field{
        line-height: 40px;
    background-color: lightgray;
    text-align: center;
    
    
    }
    
    .flex-container {
        display: flex;  
        justify-content: center; 
    
      }

      .noresult_img{
          width:150px;
          margin: auto;
      }
      .center_words{
        text-align: center;
    }

    .button_col{


        text-align: center;
    }
    
}
