page-result {
    .record_bar{
        font-size: 20px;
        text-align: center;
    }
   

    .gy_block{
        width:50px;
        background-color: gray;
        height: 10px;
        margin-top: 7px;
        display:inline;
    }
    .left_field{
        line-height: 40px;
    background-color: lightgray;
    text-align: center;
    
    
    }
    
    .flex-container {
        display: flex;  
        justify-content: center; 
    
      }
    
    
    .topic{
        font-size: 24px;
        color: #24B2C8;
    
    }
    
    .right_field{
    
        text-align: center;
    border: lightgray 1px solid ;
    }
    .button_col{
        padding: 0px;
        padding-top: 5px;
        text-align: right;
    }
    .button-ios{
        margin: 0px;
    }
    
    .center_words{
        text-align: center;
    }

    .code {
        text-align: center;
        margin: auto;
    }
    .itemNo{
        border-radius: 30px;
        float: right;
        width:30px;
        background-color: #24B2C8;
        line-height: 30px;
color:white;
        text-align: center;
        height: 30px;
}
    

    .itemNo_space{

        line-height: 30px;

        width:30px;

    }
    .itemDiv{
        border: lightgray 1px solid;
        line-height: 30px;
        font-size: 14px;
        padding-left: 5px;
        width:80%;
        margin-left: 5px;
    }
    .itemDiv_sapce {
        line-height: 30px;
        font-size: 14px;
        padding-left: 5px;
        width:80%;
    }
    .padding-10{
        padding: 10px;
    }
}
