<!--
  Generated template for the ResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar color="primary">
        <ion-title>
            <img class="logo" src="./assets/imgs/88logow.png">
           
          </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <div  class="flex-container">
        <div class="gy_block">
  
          </div>
          <div class="record_bar">
              查找客人隱形眼鏡驗光紀錄          </div>
    
              <div class="gy_block">
    
              </div>
    </div>
  



    <ion-row>
        <ion-col class="center_words" >
            經綁定後可供客人購買產品如下：
  
          </ion-col>
      </ion-row>

      <div *ngFor="let item of items; index as i " >

          <div  class="flex-container padding-10">
              <div class="itemNo">
                  {{i+1}}
  
              </div>
              <div class="itemDiv">
                  {{item.item_name}}
    
                </div>
                  
          </div>



       

        </div>

        <div class="item">
            <div  class="flex-container padding-10">
                <div class="itemNo_space">
    
                </div>
                <div class="itemDiv_sapce">
                    驗光記錄已儲存在以下QR編碼內，請客人到以上隱形眼鏡產品之自動售賣機掃描此編號
      
                  </div>
                    
            </div>

        </div>
       






      


  <div class="code">

    <img [src]="imagePath">
    

  </div>


</ion-content>
