<ion-header >
  <ion-navbar color="primary">
    <ion-title>
      <img class="logo" src="./assets/imgs/88logow.png">
     
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div  class="flex-container">
      <div class="gy_block">

        </div>
        <div class="record_bar">
            查找客人隱形眼鏡驗光紀錄          </div>
  
            <div class="gy_block">
  
            </div>
  </div>

  <br>

  <ion-row>
      <ion-col class="center_words" >
        只適用於可收短訊之手提電話號碼

        </ion-col>
    </ion-row>


    <br>

  <ion-row>
      <ion-col  col-3 class="topic">
          <img class="logo" src="./assets/imgs/login.png">



      </ion-col>
    <ion-col col-8>

       
    </ion-col>
  

  </ion-row>
  <ion-row>
      <ion-col  col-4 class="left_field">
        登記電話號碼
      </ion-col>
      <ion-col col-4>
          <ion-select [(ngModel)]="login.area">
              <ion-option  [selected]="true" value="852" >852</ion-option>
              <ion-option value="853">853</ion-option>
              <ion-option value="86">86</ion-option>

            </ion-select>
        </ion-col>
      <ion-col col-4 class="right_field">
          <ion-input placeholder="" clearInput [(ngModel)]=login.mobile></ion-input>

       
    </ion-col>


  </ion-row>
  <br>
  <ion-row>
      <ion-col  col-4 class="left_field">
        登入密碼

      </ion-col>
      <ion-col >
         
        </ion-col>
      <ion-col  col-7 class="right_field">
          <ion-input type="password" placeholder="" clearInput  [(ngModel)]=login.password></ion-input>

       
    </ion-col>
  

  </ion-row>
<br>
  <ion-row>
      <ion-col  col-4 >
    
      </ion-col>
      <ion-col >
         
        </ion-col>
      <ion-col  col-7 class="button_col">
       

          <button color="primary" ion-button (click)="goLogin()">登入</button>
    </ion-col>
  

  </ion-row>
  <br>

  <ion-row>
      <ion-col class="center_words" >
          如客人忘記登入密碼，請於下方從新登記一次

        </ion-col>
    </ion-row>


    <br>

    <!--

     <div class="center_words" >
                 &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;    &bull;
          </div>

    -->
   
<div class="full_line">

</div>
<br>
          <ion-row>
              <ion-col class="center_words" >
                如屬<p class="first">首次</p>登入，請客人設定密碼作下次登入使用
        
                </ion-col>
            </ion-row>
            <br>
          <ion-row>
              <ion-col class="center_words" >
               如客人未能提供電話，我們便不能提供查找驗眼記錄服務
        
                </ion-col>
            </ion-row>
            <br>
            <ion-row>

                <ion-col  col-4 class="left_field">
                    登記電話號碼
                  </ion-col>
                  <ion-col col-4>
                      <ion-select [(ngModel)]="info.area">
                          <ion-option  [selected]="true" value="852">852</ion-option>
                          <ion-option value="853">853</ion-option>
                          <ion-option value="86">86</ion-option>
            
                        </ion-select>
                    </ion-col>


                <ion-col  col-4 class="right_field">
                  <ion-input placeholder="" clearInput [(ngModel)]=info.phone></ion-input>
          
                 
              </ion-col>
            
          
            </ion-row> 
            <br>
            <ion-row>
                <ion-col  col-4 class="left_field">
                  密碼設定
                </ion-col>
                <ion-col >
                   
                  </ion-col>
                <ion-col  col-7 class="right_field">
                  <ion-input placeholder="" clearInput [(ngModel)]=info.password></ion-input>
          
                 
              </ion-col>
            
          
            </ion-row>
            <br>

            <ion-row>
                <ion-col  col-4 class="left_field">
                  再次輸入
                </ion-col>
                <ion-col >
                   
                  </ion-col>
                <ion-col  col-7 class="right_field">
                  <ion-input placeholder="" clearInput [(ngModel)]=info._password></ion-input>
          
                 
              </ion-col>
            
          
            </ion-row>

  <ion-row>
      <ion-col  col-4>
          
      </ion-col>
      <ion-col >
                   
      </ion-col>
      <ion-col  col-7 class="right_field_under">
          (密碼格式為 6-8 位數字或英文字母組合)
  
         
      </ion-col>


    </ion-row>

            <br>
            <ion-row>
                <ion-col  col-4 >
              
                </ion-col>
                <ion-col >
                   
                  </ion-col>
                <ion-col  col-7 class="button_col">
                 
          
                    <button color="primary" ion-button (click)="signup()">確定</button>
              </ion-col>
            
          
            </ion-row>
            <br>

            <ion-row>
                <ion-col  col-3 class="left_field">
                  輸入驗證碼
                </ion-col>
                <ion-col >
                   
                  </ion-col>
                <ion-col  col-4 class="right_field">
                    <ion-input placeholder="" clearInput [(ngModel)]="code" ></ion-input>
          
                 
              </ion-col>
              <ion-col >
                   
                </ion-col>
              <ion-col  col-3 class=""  >

                  <button color="primary" ion-button (click)="signup()" [disabled]="!canReSms" *ngIf="canReSms">  重撥</button>
                  <button color="primary" ion-button (click)="signup()" [disabled]="!canReSms" *ngIf="!canReSms">  重撥{{smsTime}}S</button>

                
                </ion-col>
          
            </ion-row>

  <ion-row>
      <ion-col class="center_words" >
          *驗證碼將會於 1 分鐘內收到。如客人沒有收到驗證碼，請客人按重發

        </ion-col>
    </ion-row>

            <ion-row>
                <ion-col  col-4 >
              
                </ion-col>
                <ion-col >
                   
                  </ion-col>
                <ion-col  col-7 class="button_col">
                 
                  <br>
                    <button color="primary" ion-button (click)="verify()">確定</button>
              </ion-col>
            
          
            </ion-row>


          

</ion-content>
