page-home {
.record_bar{
    font-size: 20px;
    text-align: center;
}
.gy_block{
    width:50px;
    background-color: gray;
    height: 10px;
    margin-top: 7px;
    display:inline;
}
.left_field{
    line-height: 40px;
background-color: lightgray;
text-align: center;


}
.full_line{
    width: 100%;
    height:1px;
    background-color: gray;

}

.flex-container {
    display: flex;  
    justify-content: center; 

  }

.topic{
    font-size: 20px;
    color: #24B2C8;

}

.right_field{

    background-color: lightgray;
    text-align: center;

}
.button_col{
    padding: 0px;
}
.button-ios{
    margin: 0px;
}

.center_words{
    text-align: center;
}

.center_words p{
    font-size: 10px;
    margin: 2px;
}
.center_words p.first{
    display: inline;
    color:red;
    font-size: 15px;

}

.right_field_under{
    text-align: center;
}
ion-select{

    max-width: 100% !important; 

}
}
