page-history {
    .record_bar{
        font-size: 20px;
        text-align: center;
    }
    .gy_block{
        width:50px;
        background-color: gray;
        height: 10px;
        margin-top: 7px;
        display:inline;
    }
    .left_field{
    background-color: lightgray;
    text-align: center;
    font-size: 12px;

    
    }
    .flex-container {
        display: flex;  
        justify-content: center; 
    
      }
    
    .topic{
        font-size: 24px;
        color: #24B2C8;
    
    }
    .itemNo{
        border-radius: 30px;
        float: right;
        width:30px;
        background-color: #24B2C8;
        line-height: 30px;
color:white;
        text-align: center
    }
    .right_field{
    
        text-align: center;
    border: lightgray 1px solid ;
    }
    .button_col{
        padding: 0px;
        padding-top: 5px;
        text-align: right;
    }
    .button-ios{
        margin: 0px;
    }
    
    .center_words{
        text-align: center;
    }
}
