<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar color="primary">
        <ion-title>
            <img class="logo" src="./assets/imgs/88logow.png">
           
          </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

    <div  class="flex-container">
        <div class="gy_block">
  
          </div>
          <div class="record_bar">
              查找客人隱形眼鏡驗光紀錄          </div>
    
              <div class="gy_block">
    
              </div>
    </div>

    
    

    <ion-row>
        <ion-col class="center_words" >
            此電話號碼擁有多於一個隱形眼鏡購買記錄，請客人先綁定自己之購買記錄以作查找驗光記錄購買隱形眼鏡

  
          </ion-col>
      </ion-row>

      



 

<div *ngFor="let record of records; index as i " >

  <ion-row>
    <ion-col >
       
      </ion-col>
    <ion-col  col-4 class="left_field">
      會員名稱
    </ion-col>
    <ion-col >
       
      </ion-col>
    <ion-col  col-6 class="right_field">
        {{record.last_name}}

        {{record.mbr_name}}

     
  </ion-col>


</ion-row> 
<br>

<ion-row>
    <ion-col >
        <div class="itemNo">
            {{i+1}}

        </div>
      </ion-col>
    <ion-col  col-4 class="left_field">
      最後之購買紀錄
    </ion-col>
    <ion-col >
       
      </ion-col>
    <ion-col  col-6 class="right_field">
        {{record.item_name}}

  </ion-col>


</ion-row> 
<br>
<ion-row>
    <ion-col >
       
      </ion-col>
    <ion-col  col-4 class="left_field">
        購買日期
    </ion-col>
    <ion-col >
       
      </ion-col>
    <ion-col  col-6 class="right_field">

        {{formatDateString(record.trx_date)}}

  </ion-col>


</ion-row> 
<ion-row>
    <ion-col  col-6 >
  
    </ion-col>
 
    <ion-col  class="button_col" col-6>
     

        <button color="primary" ion-button  small (click)="bind(record)">綁定</button>
  </ion-col>


</ion-row>



<br>
</div>
  
<ion-row>
  <ion-col class="center_words" >
   <p>如有任何疑問,可與店內職員 /於辦公時間致電21132363 查詢</p> 
   
   <p> 星期一至五:9:00am-6:00pm</p>
   
   <p>或電郵至cs@optical88.com.hk</p>


    </ion-col>
</ion-row>
</ion-content>
